importMethodsFrom(Biostrings, complement, pairwiseAlignment, pattern,
                  reverseComplement)

importMethodsFrom(IRanges, cor, end, reverse, score, start, subject)

importFrom(Biostrings, DNAString, readFASTA)

importFrom(ca, ca)

importFrom(graphics, axis, grid, image, lines, par, pie, plot, text)

importFrom(grDevices, dev.off, gray, pdf)

importFrom(grid, gpar, grid.segments, popViewport, pushViewport, unit,
           viewport)

importFrom(gridBase, baseViewports, gridPLT)

importFrom(stats, dist, fisher.test, heatmap, wilcox.test)

importFrom(utils, read.delim, read.table, write.table)

importFrom(Biostrings, DNA_ALPHABET)


export(plotAbsMethyl, MethLollipops, heatMapMeth, matrixSNP, plotMatrixSNP, methCA, methFisherTest, methWhitneyUTest, cgInAlign, findNonAligned, Cooccurrence, MethAlignNW, cgMethFinder, makeDataMethGFF, MethDataInput, selectRefSeq, readBisulfFASTA, makeLocalExpDir, makeTabFilePath, MethylQC, coversionGenom)

